<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Doar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="tab-doar-grid">
    <ion-row>
      <ion-col>
        <ion-card class="ion-no-margin" (click)="pesquisaGoogleMaps('alimentos')">
          <ion-item>
            <ion-icon name="pizza-outline"></ion-icon>
            <p class="ion-no-margin ion-padding-start">Alimentos</p>
          </ion-item>
        </ion-card>

        <ion-card class="ion-no-margin ion-margin-top" (click)="pesquisaGoogleMaps('roupas')">
          <ion-item>
            <ion-icon name="bag-remove-outline"></ion-icon>
            <p class="ion-no-margin ion-padding-start">Roupa</p>
          </ion-item>
        </ion-card>

        <ion-card class="ion-no-margin ion-margin-top" (click)="pesquisaGoogleMaps('sangue')">
          <ion-item>
            <ion-icon name="heart-circle-outline"></ion-icon>
            <p class="ion-no-margin ion-padding-start">Sangue</p>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
