<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>IonDoe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-content">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="8" class="ion-padding-vertical">

          <img src="assets/donate-heart.png" alt="Mãos doando coração">

          <p class="ion-text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>

          <ion-card class="ion-no-margin" [routerLink]="['/tabs/tab2']">
            <ion-item class="">
              <ion-icon name="cart"></ion-icon>
              <p class="ion-no-margin ion-padding-start">Doar</p>
            </ion-item>
          </ion-card>

          <ion-card class="ion-no-margin ion-margin-top" [routerLink]="['/tabs/tab3']">
            <ion-item class="">
              <ion-icon name="archive"></ion-icon>
              <p class="ion-no-margin ion-padding-start">Receber</p>
            </ion-item>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
