<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Receber doação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="receber-content">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="10" class="ion-padding-vertical">
          <img src="assets/apoio-suporte.png" alt="Mãos unidas">
          <p class="ion-text-center">Fale com um de nossos voluntários. Vamos te ajudar!</p>
          <ion-button color="light" expand="block" type="button" strong="true" (click)="abrirWhatsApp()">Falar com um voluntário</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
